@import "tailwindcss";

@import "bootstrap-icons/font/bootstrap-icons.css";
@import "remixicon/fonts/remixicon.css";

:root {
  --primary: #ffb340;
  --primary-light: #ffb340b3;
  --secondary: #7a6eff;
  --dark-shade: #1c1d20;
  --text: #222e48;
  --body: #1c1d20;
  --gray-shade: #3b3b3c;
  --gray-light: #262629;
  --white: #fff;
  --black: #000;

  --font-kanit: "Kanit", sans-serif;
  --font-metal-mania: "Metal Mania", sans-serif;

  --transition-regular: 0.3s;
  --transition-slow: 0.6s;
}

.Kanit {
  font-family: var(--font-kanit);
}

.MetalMania {
  font-family: var(--font-metal-mania);
}

body {
  overflow-x: hidden !important;
  background: var(--body);
  color: var(--white);
  font-family: var(--font-kanit);
}
