@import "tailwindcss";

@import "bootstrap-icons/font/bootstrap-icons.css";
@import "remixicon/fonts/remixicon.css";

:root {
  /* Brand Colors */
  --color-primary: #ffb340;
  --color-primary-light: #ffb340b3;
  --color-secondary: #7a6eff;

  /* Neutral Palette */
  --color-dark: #1c1d20;
  --color-text: #222e48;
  --color-body: #1c1d20;
  --color-gray: #3b3b3c;
  --color-gray-light: #262629;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-matte-black: #28282b;
  --color-dark-text: #222e48;
  --color-light-text: #ffffff;
  --color-banner-background: #FFCA79;

  /* Typography */
  --font-zain: "Zain", sans-serif;
  --font-poiret-one: "Poiret One", sans-serif;

  /* Motion */
  --transition-regular: 0.3s ease;
  --transition-slow: 0.6s ease;
}

@theme inline {
  /* Colors */
  --color-primary: var(--color-primary);
  --color-primary-light: var(--color-primary-light);
  --color-secondary: var(--color-secondary);
  --color-body: var(--color-body);
  --color-text: var(--color-text);
  --color-gray: var(--color-gray);
  --color-gray-light: var(--color-gray-light);
  --color-white: var(--color-white);
  --color-black: var(--color-black);
  --color-matte-black: var(--color-matte-black);
  --color-dark-text: var(--color-dark-text);
  --color-light-text: var(--color-light-text);
  --color-banner-background: var(--color-banner-background);

  /* Fonts */
  --font-zain: var(--font-zain);
  --font-poiret-one: var(--font-poiret-one);

  /* Transitions */
  --transition-default: var(--transition-regular);
  --transition-slow: var(--transition-slow);
}

body {
  overflow-x: hidden !important;
  background: var(--body);
  color: var(--white);
  font-family: var(--font-zain);
}

/* Custom animations - START */

@keyframes anim-small-translate {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(5px, 5px);
  }
  50% {
    transform: translate(0px, 0px);
  }
  75% {
    transform: translate(-5px, -5px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes anim-spin {
  to {
    transform: rotate(360deg);
  }
}


@keyframes anim-wave-scroll {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -1000px 0;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes fade-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

/* Custom animations - END */

/* Rotating sparkling elements */

.sparkling-elem img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  animation: anim-spin 5s infinite linear;
}

.sparkling-elem img:nth-child(1) {
  top: 75%;
  left: 5%;
}

.sparkling-elem img:nth-child(2) {
  top: 40%;
  left: 47%;
}

.sparkling-elem img:nth-child(3) {
  top: 50%;
  left: 90%;
}




/* Featured Shows Section */

.dark-section,
.light-section {
  background-size: cover;
  color: var(--white);
}

.dark-section {
  background: var(--color-dark) url(../../public/assets/images/texture-bg-1.png) no-repeat center/cover;
}

.light-section {
  background: var(--color-matte-black) url(../../public/assets/images/texture-bg-1.png) no-repeat center/cover;
}





/* Host Profiles Section */

.wave-wrapper-section,
.wave-wrapper-section2 {
  position: relative;
}

.wave-wrapper-section:after,
.wave-wrapper-section2:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 130px;
  background: url(../../public/assets/images/wave-pattern.png);
  background-repeat: no-repeat;
}

.wave-wrapper-section2:after {
  top: -14% !important;
  transform: rotate(180deg);
  height: 150px;
}

.host-wrapper-swiper {
  padding: 55px 0 !important;
}

.offset-card {
  transform: translateY(-50px);
}

.host-info {
  position: relative;
}

.host-info:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  width: 2px;
  height: 70%;
  background-color: var(--color-primary);
}

/* Host Profiles MQ Section */

@media (max-width: 600px) {
  .offset-card {
    transform: translateY(0px);
  }
}

/* Testimonials Section*/

.test-img {
  opacity: 0;
  animation: fade-right 1s 0.6s forwards linear;
}

.test-content-wrap .test-content .test-stars {
  opacity: 0;
  animation: fade-right 1s 0.7s forwards linear;
}

.test-content-wrap .test-content p {
  opacity: 0;
  animation: fade-right 1s 0.8s forwards linear;
}

.test-content-wrap .test-content .test-border {
  opacity: 0;
  animation: fade-right 1s 1s forwards linear;
}

.test-content-wrap .test-content .test-info {
  opacity: 0;
  animation: fade-right 1s 1.2s forwards linear;
}

.test-content-wrap .text-btns {
  opacity: 0;
  animation: fade-right 1s 1.5s forwards linear;
}



/* Testimonial MQ Section */

@media (max-width: 991px) {
  .wave-wrapper-section2:after {
    top: -16% !important;
  }
}

@media (max-width: 600px) {
  .wave-wrapper-section2:after {
    top: -10% !important;
  }
}

/* Banner Section */

.banner-img {
  position: relative;
}

.banner-img:after {
  content: "";
  position: absolute;
  top: 5%;
  right: -10%;
  width: 550px;
  height: 60px;
  background-image: url(../../public/assets/images/music-waves-1.png);
  background-repeat: repeat-x;
  background-size: auto 100%;
  animation: anim-wave-scroll 50s linear infinite;
}

.banner-img:before {
  content: "";
  position: absolute;
  bottom: 5%;
  left: 0;
  width: 350px;
  height: 60px;
  background-image: url(../../public/assets/images/music-waves-1.png);
  background-repeat: repeat-x;
  background-size: auto 100%;
  animation: anim-wave-scroll 50s linear infinite;
}


/* Episode Listing Section */

.page-section {
  width: 100%;
  height: 60vh;
  background: url(../../public/assets/images/texture-bg-1.png), rgb(38, 38, 41);
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 3%;
  overflow: hidden !important;
  z-index: 1;
}

.page-section:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../public/assets/images/vector-line.png);
  background-position: 85% center;
  background-repeat: no-repeat;
  z-index: -1;
}

.elemet {
  position: absolute;
  top: 0;
  left: 0;
  animation: anim-spin 5s infinite forwards linear;
}

.elm2 {
  top: 10%;
  left: 5%;
  animation-delay: 0.3s;
}

.elm3 {
  top: 65%;
  left: 85%;
  animation-delay: 0.5s;
}

.elm4 {
  top: 50%;
  left: 10%;
  animation-delay: 0.7s;
}

.episode-search {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  width: 70%;
}

.page-banner {
  background: url(../../public/assets/images/page-banner-bg.png), var(--color-primary);
  background-repeat: no-repeat;
  background-position: bottom center;
  overflow: hidden;
}



/* Episode Listing MQ Section */

@media (max-width: 991px) {
  .elm2 {
    top: 15%;
  }

  .episode-search {
    width: 85%;
  }
}

@media (max-width: 600px) {
  .elm2 {
    width: 100px;
    height: 100px;
  }
  .elm3 {
    left: 80%;
    width: 100px;
    height: 100px;
  }
  .episode-search {
    width: 90%;
  }
  .episode-search input {
    width: 70%;
  }
}

/* About Page Section */

.exp-arrow1 {
  position: absolute;
  bottom: -20%;
  left: 10%;
  z-index: 0;
}

@media (max-width: 600px) {
  .experience-images {
    width: 100%;
    height: 600px;
  }

  .experience-images .exp-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .exp-arrow1 {
    bottom: -20%;
    width: 250px;
    height: 250px;
  }
}

.about-wave2::after {
  top: -35% !important;
  height: 150px;
}
