@import "tailwindcss";

@import "bootstrap-icons/font/bootstrap-icons.css";
@import "remixicon/fonts/remixicon.css";

:root {
  /* Brand Colors */
  --color-primary: #ffb340;
  --color-primary-light: #ffb340b3;
  --color-secondary: #7a6eff;

  /* Neutral Palette */
  --color-dark: #1c1d20;
  --color-text: #222e48;
  --color-body: #1c1d20;
  --color-gray: #3b3b3c;
  --color-gray-light: #262629;
  --color-white: #ffffff;
  --color-black: #000000;

  /* Typography */
  --font-kanit: "Kanit", sans-serif;
  --font-metal-mania: "Metal Mania", sans-serif;

  /* Motion */
  --transition-regular: 0.3s ease;
  --transition-slow: 0.6s ease;
}

@theme inline {
  /* Colors */
  --color-primary: var(--color-primary);
  --color-primary-light: var(--color-primary-light);
  --color-secondary: var(--color-secondary);
  --color-body: var(--color-body);
  --color-text: var(--color-text);
  --color-gray: var(--color-gray);
  --color-gray-light: var(--color-gray-light);
  --color-white: var(--color-white);
  --color-black: var(--color-black);

  /* Fonts */
  --font-kanit: var(--font-kanit);
  --font-metal-mania: var(--font-metal-mania);

  /* Transitions */
  --transition-default: var(--transition-regular);
  --transition-slow: var(--transition-slow);
}

body {
  overflow-x: hidden !important;
  background: var(--body);
  color: var(--white);
  font-family: var(--font-kanit);
}

/* Nav bar*/
.navbar {
  z-index: 9999;
}

.btn {
  border: 2px solid var(--color-primary-light);
  padding: 5px 25px;
  padding-bottom: 6px;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  overflow: hidden;
  gap: 15px;
  position: relative;
  z-index: 1;
  transition: var(--transition-slow);
  cursor: pointer;
}

.btn:hover {
  color: var(--color-white);
  border-color: var(--color-white);
}

.btn:hover i {
  transform: rotate(-180deg) !important;
}

.btn i {
  background-color: var(--color-primary-light);
  color: var(--color-black);
  border-radius: 100%;
  width: 30px;
  height: 30px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition-slow);
}

.btn1 {
  color: var(--color-white);
  text-shadow: #000000;
}

.btn1:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 50px;
  width: 0;
  height: 0;
  background: var(--color-secondary);
  transition: var(--transition-slow);
  z-index: -1;
}

.btn1:hover:after {
  width: 100%;
  height: 100%;
  right: auto;
  left: 0;
  bottom: auto;
  top: 0;
}

.btn2 {
  background-color: var(--color-primary);
  color: var(--color-black);
}

.btn2 i {
  background-color: var(--color-black);
  color: var(--color-primary);
}

.btn2:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50px;
  width: 0;
  height: 0;
  background: var(--color-secondary);
  transition: var(--transition-slow);
  z-index: -1;
}

.btn2:hover:after {
  width: 100%;
  height: 100%;
  top: auto;
  bottom: 0;
  right: 0;
  left: auto;
}

/* Nav MQ Section */

@media (max-width: 991px) {
  .hero {
    height: 100%;
    padding-bottom: 0;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 5%;
  }

  .hero-img {
    position: relative;
    top: 0;
    left: 20%;
  }

  .rounded-text {
    left: 28%;
  }

  .sun-shape img:nth-child(2) {
    top: 14%;
    left: 82%;
  }

  .sun-shape img:nth-child(3) {
    top: 70%;
    left: 82%;
  }
}

@media (max-width: 600px) {
  .hero-img {
    left: 5%;
  }

  .rounded-text {
    left: 50%;
  }

  .nav-right .btn2 {
    display: none;
  }
}

@media (max-width: 575px) {
}

/* Hero Header */

.hero {
  width: 100%;
  height: 90vh;
  background: url(../../public/images/texture-bg-1.png), rgb(38, 38, 41);
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 3%;
  overflow: hidden !important;
  z-index: 1;
}

.hero:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../public/images/vector-line.png);
  background-repeat: no-repeat;
  z-index: -1;
}

.hero-btn button {
  font-weight: 500;
}

.hero-img {
  position: absolute;
  top: 0;
  left: 54.7%;
  z-index: 0;
  animation: smallTranstale 5s infinite ease-in-out;
}

@keyframes smallTranstale {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(5px, 5px);
  }
  50% {
    transform: translate(0px, 0px);
  }
  75% {
    transform: translate(-5px, -5px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.sun-shape img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  animation: Anim-rotate 5s infinite forwards linear;
}

.sun-shape img:nth-child(1) {
  top: 75%;
  left: 5%;
}

.sun-shape img:nth-child(2) {
  top: 40%;
  left: 47%;
}
.sun-shapeIimg:nth-child(3) {
  top: 50%;
  left: 90%;
}

@keyframes Anim-rotate {
  100% {
    transform: rotate(360deg);
  }
}

.rounded-text {
  position: absolute;
  top: 48%;
  left: 12%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rounded-text img {
  position: absolute;
  top: 0;
  left: 0;
  animation: Anim-rotate 5s infinite forwards linear;
}

.rounded-text i {
  background-color: var(--color-primary);
  color: var(--color-black);
  width: 60px;
  height: 60px;
  border-radius: 100%;
  font-size: 2.5rem;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition-regular);
}

.rounded-text i:hover {
  transform: translate(-50%, -50%) scale(1.2);
  cursor: pointer;
}

/* Featured Shows Section */

.dark-section {
  background-image: url(../../public/images/texture-bg-1.png);
  background-size: cover;
}

.light-section {
  background: url(../../public/images/texture-bg-1.png), rgb(38, 38, 41);
  background-size: cover;
}
